<h1>Code For Book To Scrape Web Scraping <h1>

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [1]:
base_url = "http://books.toscrape.com/catalogue/page-{}.html"

In [2]:
books = []

In [44]:
for page in range(1,50 ):  
    url = base_url.format(page)
    response = requests.get(url)
    t
    soup = BeautifulSoup(response.text, 'html.parser')
    
    book_containers = soup.find_all('article', class_='product_pod')
   
    for book in book_containers:
        
        title = book.h3.a['title']
       
        price = book.find('p', class_='price_color').text.strip()
     
        availability = book.find('p', class_='instock availability').text.strip()
  
        rating_class = book.find('p', class_='star-rating')['class']
        rating = rating_class[1]  
  
        books.append({
            "Title": title,
            "Price": price,
            "Availability": availability,
            "Rating": rating
        })

In [45]:
df = pd.DataFrame(books)

In [46]:
df.to_csv("books_dataset.csv", index=False)
print("Scraping completed. Dataset saved as 'books_dataset.csv'.")

Scraping completed. Dataset saved as 'books_dataset.csv'.

In [47]:
df.head(5)

                                   Title    Price Availability Rating
0                   A Light in the Attic  Â£51.77     In stock  Three
1                     Tipping the Velvet  Â£53.74     In stock    One
2                             Soumission  Â£50.10     In stock    One
3                          Sharp Objects  Â£47.82     In stock   Four
4  Sapiens: A Brief History of Humankind  Â£54.23     In stock   Five

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2080 entries, 0 to 2079
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         2080 non-null   object
 1   Price         2080 non-null   object
 2   Availability  2080 non-null   object
 3   Rating        2080 non-null   object
dtypes: object(4)
memory usage: 65.1+ KB